body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f90b0b;
    color: #333;
}

header {
    background-color: #057aee;
    color: white;
    padding: 20px;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px;
}

.member {
    background-color: rgb(6, 10, 254);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.member:hover {
    transform: scale(1.05);
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.header {
  position: sticky;
  top: 0;
  height: 64px;
  backdrop-filter: blur(16px);
  background: rgba(30, 41, 59, 0.75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
